<!-- <style>
  tbody {
    color: white;
  }
</style>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"> -->
        <h4 class="card-title">EVENTS</h4>
      <!-- </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>Name</th>
              <th>Description</th>
              <th>Creator</th>
              <th>Guest List</th>
              <th class="text-right">Date</th>
            </thead> -->


              <div class="container" >
                <ul *ngFor="let e of events">
                  <li>
                    <div class="title">{{e.eventDate | date:'medium'}}</div>
                    <h4>Name</h4>
                <p>{{e.eventName}}</p>
                <h4>Description</h4>
                <p>{{e.eventDescription}}</p>
                <h4>Creator</h4>
                <p>{{e.eventCreator.firstName}}</p>
                <h4>Guest List</h4>
                <p>
                  <li *ngFor="let u of e.userList">
                    <ul>{{u.firstName}}</ul>
                  </li>
                </p>
                </li>
                </ul>
              </div>
              <!-- <button class="btn btn-primary" (click)="getEvents()">View All Events</button> -->

            <!-- <h3>Past Events</h3>
            <tbody>
              <tr *ngFor="let e of events">
                <td>{{e.eventName}}</td>
                <td>{{e.eventDescription}}</td>
                <td>{{e.eventCreator.firstName}}</td>
                <td>
                  <li *ngFor="let u of e.userList">
                    <ul>{{u.firstName}}</ul>
                  </li>
                </td>
                <td class="text-right">{{e.eventDate | date:'medium'}}</td>
              </tr>
            </tbody> -->
          <!-- </table>
        </div>
      </div>
    </div>
  </div>
</div> -->

<form method="" action="" *ngIf="loggedInUser.userRole.role=='Landlord'">
  <div class="">
    <h2>Create New Event</h2>
    <p></p>
  </div>
  <div class="">
    <label class="" for="name">Name of Event </label>
    <div>
      <input name="name" [(ngModel)]="newEventName">
    </div>
    <label class="" for="desc">Description </label>
    <div>
      <textarea name="desc" rows="3" cols="50" [(ngModel)]="newEventDesc"></textarea>
    </div>
    <label class="" for="date">Date </label>
    <div>
      <input name="date" type="datetime-local" [(ngModel)]="newEventDate">
    </div>
    <label class="" for="guest">Guest List </label>
    <div>
      <input name="guest" id="guestId" type="text" placeholder="Enter Guest ID" [(ngModel)]="newGuest">
      <button (click)="addGuestByID()" type="button">Add Guest</button>
        <li *ngFor="let u of guestList">
          <ol>ID: {{u.userID}}  {{u.firstName}} {{u.lastName}}</ol>
        </li>
    </div>
    <br /><br />
    <button (click)="sendEvent()" type="submit">SUBMIT</button>
  </div>
</form>