<style>
tbody {
  font-weight: 500;
    color: white;
    
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

</style>


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> View All Maintenance Tickets</h4>
      </div>
      <div class="card-body">
      </div>
      <select class = "form-control" style = "width:150px; margin-bottom: 10px;" name = "filter" [(ngModel)] = "status" (change) = "filter()">
        <option value = "all" selected>All</option>
        <option value = "resolved">Resolved</option>
        <option value = "unresolved">Unresolved</option>
      </select>
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th> </th>
              <th>
                Ticket ID
              </th>
              <th>
                  Created By
              </th>
              <th>
                  Description
              </th>
              <th>
                  Submission Time
              </th>
              <th>
                  Resolved Time
              </th>
              <th>
                Status
            </th>
              <th class="text-right">
                  
              </th>
            </thead>
            
            <tbody *ngIf="loggedInUser.userRole.role=='Landlord'">
              <tr *ngFor="let t of tickets" >
                <td>
                  <div class="avatar">
                    <img src="../../assets/images/faces/{{t.author.username}}.jpg" alt="Circle Image"
                      class="img-circle img-no-padding img-responsive">
                  </div>
                </td>
                <td class="text-left">
                  {{t.ticketId}}
                </td>
                <td>
                  {{t.author.firstName}} {{t.author.lastName}}
                </td>
                <td>
                  {{t.description}}
                </td>
                <td>
                  {{t.submitted | date:'medium' }}
                </td>
                <td>
                  {{t.resolved | date:'medium' }}
                </td>
                <td class="text-right">
                  {{t.statusId.status}}
                </td>
                <td><button *ngIf = "t.statusId.status == 'Unresolved'" class = "btn btn-rpimary" (click) = "resolve(t.ticketId)">Resolve</button>
                </td>
              </tr>
              <button class="btn btn-primary" (click)="getTickets()">View All Tickets</button>
          </tbody>
               <tbody *ngIf="loggedInUser.userRole.role =='Tenant'">
              <tr *ngFor="let t of tickets">
                <td>
                  <div class="avatar">
                    <img src="../../assets/images/faces/{{t.author.username}}.jpg" alt="Circle Image"
                      class="img-circle img-no-padding img-responsive">
                  </div>
                </td>
                <td class="text-left">
                  {{t.ticketId}}
                </td>
                <td>
                  {{t.author.firstName}} {{t.author.lastName}}
                </td>
                <td>
                  {{t.description}}
                </td>
                <td>
                  {{t.submitted | date:'medium' }}
                </td>
                <td>
                  {{t.resolved | date:'medium' }}
                </td>
                <td class="text-right">
                  {{t.statusId.status}}
                </td>
                
              </tr>
              <button class="btn btn-primary" (click)=" getAllTicketsByAuthor()">View All Tickets</button>
          </tbody>
  
          </table>
          <br>
    </div>

  </div>
</div>
</div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
    <br>
    <h4>Open a New Maintenance Ticket</h4>
  <div class="form-group">
    <label for="description"><h5>Description </h5></label>
    <input type="text" class="form-control" [(ngModel)]="model.description" id="description" />
  </div>
  <button class="btn btn-primary" (click)="sendTicket()">Submit</button>

  </div>
</div>
</div>



    


