<style>
tbody {
  font-weight: 500;
    color: white;
    
}
</style>


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> View All Maintenance Tickets</h4>
      </div>
      <div class="card-body">
      </div>
      <select [(ngModel)]="selected" name="status" placeholder="select" (ngModelChange)="onOptionsSelected($event)">
        <option *ngFor="let sta of status" [ngValue]="sta">{{sta}}</option>
    </select>
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                  ID
              </th>
              <th>
                  Created By
              </th>
              <th>
                  Description
              </th>
              <th>
                  Submission Time
              </th>
              <th>
                  Resolved Time
              </th>
              <th>
                Status
            </th>
              <th class="text-right">
                  Resolve
              </th>
            </thead>
            
            <tbody *ngIf="loggedInUser.userRole.role=='Landlord'">
              <tr *ngFor="let t of tickets" >
                <td>
                  {{t.ticketId}}
                </td>
                <td>
                  {{t.author.firstName}} {{t.author.lastName}}
                </td>
                <td>
                  {{t.description}}
                </td>
                <td>
                  {{t.submitted | date:'medium' }}
                </td>
                <td>
                  {{t.resolved | date:'medium' }}
                </td>
                <td class="text-right">
                  {{t.statusId.status}}
                </td>
                <td><button *ngIf = "t.statusId.status == 'Unresolved'" class = "btn btn-rpimary" (click) = "landlordResolve(t.ticketId)">Resolve</button>
                </td>
              </tr>
              <button class="btn btn-primary" (click)="getTickets()">View All Tickets</button>
          </tbody>
               <tbody *ngIf="loggedInUser.userRole.role =='Tenant'">
              <tr *ngFor="let t of tickets">
                <td>
                  {{t.ticketId}}
                </td>
                <td>
                  {{t.author.firstName}} {{t.author.lastName}}
                </td>
                <td>
                  {{t.description}}
                </td>
                <td>
                  {{t.submitted | date:'medium' }}
                </td>
                <td>
                  {{t.resolved | date:'medium' }}
                </td>
                <td class="text-right">
                  {{t.statusId.status}}
                </td>
                <td><button *ngIf = "t.statusId.status == 'Unresolved'" class = "btn btn-rpimary" (click) = "resolve(t.ticketId)">Resolve</button>
                </td>
              </tr>
              <button class="btn btn-primary" (click)=" getAllTicketsByAuthor()">View All Tickets</button>
          </tbody>
  
          </table>
          <br>
    </div>

  </div>
</div>
</div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
    <br>
    <h4>Open a New Maintenance Ticket</h4>
  <div class="form-group">
    <label for="description"><h5>Description </h5></label>
    <input type="text" class="form-control" [(ngModel)]="model.description" id="description" />
  </div>
  <button class="btn btn-primary" (click)="sendTicket()">Submit</button>

  </div>
</div>
</div>



    


