<select name="tickets">
    <option value="1">Unresolved Tickets</option>
    <option value="2">Resolved Tickets</option>
</select>

<div id="">
    <table class="">
        <thead>
            <tr class="">
                <th id="">ID</th>
                <th id="">Description</th>
                <th id="">Submission Time</th>
                <th id="">Resolved Time</th>
                <th id="">Created By</th>
                <th id="">Status</th>
            </tr>
        </thead>
        <tbody class="" id="">
            <!-- <tr *ngFor="let t of tickets">
                <td>{{t.ticketId}}</td>
                <td>{{t.description}}</td>
                <td>{{t.submitted | date:'medium' }}</td>
                <td>{{t.resolved | date:'medium' }}</td>
                <td>{{t.author}}</td>
                <td>{{t.statusId}}</td>
            </tr> -->
            <tr *ngFor="let t of loggedInUser.tickets">
                <td>{{t.ticketId}}</td>
                <td>{{t.description}}</td>
                <td>{{t.submitted | date:'medium' }}</td>
                <td>{{t.resolved | date:'medium' }}</td>
                <td>{{loggedInUser.username}}</td>
                <td>{{t.statusId}}</td>
            </tr>
        </tbody>
    </table>
</div>

<form method="" action="">
    <div class="">
        <h2>Open a New Maintenance Ticket</h2>
        <p></p>
    </div>
    <div class="">
        <label class="description" for="desc">Description </label>
        <div>
            <textarea name="desc" rows="4" cols="50" maxlength="500" [(ngModel)]="newTicketDesc"></textarea>
        </div>
        <br /><br />
        <button  (click)="sendTicket()" type="button">SUBMIT</button>
    </div>
</form>