
<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/angular2-logo.png">
      </div>
    </a>
    <a href="https://www.creative-tim.com" class="simple-text logo-normal">
      Chatelaine
    </a>
  </div>
    <ul class="nav" *ngIf = "loggedIn">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
    <ul class="nav" *ngIf = "!loggedIn">
      <li  routerLinkActive="active">
          <a [routerLink]="['home']">
            <i class="fas fa-users"></i>              <p>Our Team</p>
          </a>
      </li>
      <li>
        <a [routerLink] = "['login']">
          <i class="fas fa-sign-in-alt"></i>                 <p>Login</p>
        </a>
      </li>
      <li>
        <a [routerLink] = "['register']">
          <i class="fas fa-user-plus"></i>                <p>Register</p>
        </a>
      </li>
  </ul>
</div>
