



<div style = "text-align: center; color: #7b6c59;">
    <h2><b>Meet The Chatelaines</b></h2>
</div>

<div class="container-fluid my-5 justify-content-center">
    <div class=" row justify-content-center ">
        <div class="col-lg-4 col-12 mt-5 ">
            <div class="card mt-3 ">
                <div class="card-header text-center border-0 ">
                    <div class="row justify-content-center ">
                        <div class="col"> <img class="align-self-center text-center rounded-circle outside img-fluid" src="../../assets/images/faces/tiffany.jpg" width="110" height="110"> </div>
                    </div>
                    <div class="row text-center name">
                        <div class="col">
                            <h5 class="mb-0 profile-pic">Tiffany Azamar (Pink Master)</h5> <small class="mt-0">Co-Landlord</small>
                            <p><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star-o mr-1"></span></p>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0 text-center pb-3 ">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col">
                            <p class="bold"><i class="fas fa-quote-left" style = "font-size: 30px;"></i>
                                Fabulous is my only motto in life. 
                              <i class="fas fa-quote-right" style = "font-size: 15px;"></i></p>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center border-0 mt-0 pt-0">
                    <div class="row">
                        <div class="col"><span class="mx-2"><i class="fab fa-twitter" aria-hidden="true"></i></span><span class="mx-2"><i class="fab fa-facebook-f" aria-hidden="true"></i></span><span class="mx-2"><i class="fab fa-instagram"></i></span><span class="mx-2"><i class="fab fa-pinterest-p"></i></span><span class="mx-2"><i class="fab fa-google-plus-g"></i></span></div>
                    </div>
                    <hr class="my-1">
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-5 col-12 ">
            <div class="card mt-3">
                <div class="card-header text-center border-0 ">
                    <div class="row justify-content-center ">
                        <div class="col"> <img class="align-self-center text-center rounded-circle outside img-fluid" src="../../assets/images/faces/laura.jpg" width="110" height="110"> </div>
                    </div>
                    <div class="row text-center name">
                        <div class="col">
                            <h5 class="mb-0 profile-pic">Laura Villareal (Physics Master)</h5> <small class="mt-0">Co-Landlord</small>
                            <p><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span></p>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0 text-center pb-3 ">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col">
                            <p class="bold"><i class="fas fa-quote-left" style = "font-size: 30px;"></i> 
                                Physic is my passion. But I cannot figure out why apples cannot fall backward.
                                <i class="fas fa-quote-right" style = "font-size: 15px;"></i>  </p>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center border-0 mt-0 pt-0">
                    <div class="row">
                        <div class="col"> <span class="mx-2"><i class="fab fa-twitter" aria-hidden="true"></i></span><span class="mx-2"><i class="fab fa-facebook-f" aria-hidden="true"></i></span><span class="mx-2"><i class="fab fa-instagram"></i></span><span class="mx-2"><i class="fab fa-pinterest-p"></i></span><span class="mx-2"><i class="fab fa-google-plus-g"></i></span> </div>
                    </div>
                    <hr class="my-1">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-12 mt-5">
            <div class="card mt-3">
                <div class="card-header text-center border-0 ">
                    <div class="row justify-content-center ">
                        <div class="col"> <img class="align-self-center text-center rounded-circle outside img-fluid" src="../../assets/images/faces/jane.jpg" width="110" height="110"> </div>
                    </div>
                    <div class="row text-center name">
                        <div class="col">
                            <h5 class="mb-0 profile-pic">Jane Huang (Medicine Master)</h5> <small class="mt-0">Co-Landlord</small>
                            <p><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star-o mr-1"></span><span class="fa fa-star-o mr-1"></span><span class="fa fa-star-o mr-1"></span></p>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0 text-center pb-3 ">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col">
                            <p class="bold"> <i class="fas fa-quote-left" style = "font-size: 30px;"></i> 
                                Sometime the medicine works and I have no idea why.
                            </div>
                    </div>
                </div>
                <div class="card-footer text-center border-0 mt-0 pt-0">
                    <div class="row">
                        <div class="col"> <span class="mx-2"><i class="fab fa-twitter" aria-hidden="true"></i></span><span class="mx-2"><i class="fab fa-facebook-f"></i></span><span class="mx-2"><i class="fab fa-instagram"></i></span><span class="mx-2"><i class="fab fa-pinterest-p"></i></span><span class="mx-2"><i class="fab fa-google-plus-g"></i></span> </div>
                    </div>
                    <hr class="my-1">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid my-5 justify-content-center">
    <div class=" row justify-content-center ">
        <div class="col-lg-6 col-12 mt-5 ">
            <div class="card mt-3 ">
                <div class="card-header text-center border-0 ">
                    <div class="row justify-content-center ">
                        <div class="col"> <img class="align-self-center text-center rounded-circle outside img-fluid" src="../../assets/images/faces/timgattie.jpg" width="110" height="110"> </div>
                    </div>
                    <div class="row text-center name">
                        <div class="col">
                            <h5 class="mb-0 profile-pic">Tim Gattie (Pokemon Master)</h5> <small class="mt-0">Property Manager</small>
                            <p><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star-o mr-1"></span></p>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0 text-center pb-3 ">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col">
                            <p class="bold"><i class="fas fa-quote-left" style = "font-size: 30px;"></i>
                               I train pokemon on a regular basis.
                              <i class="fas fa-quote-right" style = "font-size: 15px;"></i></p>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center border-0 mt-0 pt-0">
                    <div class="row">
                        <div class="col"><span class="mx-2"><i class="fab fa-twitter" aria-hidden="true"></i></span><span class="mx-2"><i class="fab fa-facebook-f" aria-hidden="true"></i></span><span class="mx-2"><i class="fab fa-instagram"></i></span><span class="mx-2"><i class="fab fa-pinterest-p"></i></span><span class="mx-2"><i class="fab fa-google-plus-g"></i></span></div>
                    </div>
                    <hr class="my-1">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12 mt-5 ">
            <div class="card mt-3 ">
                <div class="card-header text-center border-0 ">
                    <div class="row justify-content-center ">
                        <div class="col"> <img class="align-self-center text-center rounded-circle outside img-fluid" src="../../assets/images/faces/nikki.jpg" width="110" height="110"> </div>
                    </div>
                    <div class="row text-center name">
                        <div class="col">
                            <h5 class="mb-0 profile-pic">Nikki Lang (Correction Officer)</h5> <small class="mt-0">Assistant to the Manager</small>
                            <p><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star-o mr-1"></span></p>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0 text-center pb-3 ">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col">
                            <p class="bold"><i class="fas fa-quote-left" style = "font-size: 30px;"></i>
                              Change is the only constant.
                              <i class="fas fa-quote-right" style = "font-size: 15px;"></i></p>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center border-0 mt-0 pt-0">
                    <div class="row">
                        <div class="col"><span class="mx-2"><i class="fab fa-twitter" aria-hidden="true"></i></span><span class="mx-2"><i class="fab fa-facebook-f" aria-hidden="true"></i></span><span class="mx-2"><i class="fab fa-instagram"></i></span><span class="mx-2"><i class="fab fa-pinterest-p"></i></span><span class="mx-2"><i class="fab fa-google-plus-g"></i></span></div>
                    </div>
                    <hr class="my-1">
                </div>
            </div>
        </div>
        
    </div>
</div>